@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Manrope:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
body {
  margin: 0;
  font-family: 'Darumadrop One', cursive;
  -moz-osx-font-smoothing: grayscale;
  background-color: #87CEEB;
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
