.logo {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.logo img {
    width: 88vw;
}

@media screen and (min-width: 480px) {
    .logo img {
        width: 73vw;
    }
}

@media screen and (min-width: 960px) {
    .logo img {
        width: 44vw;
    }
}